---
layout: 'default.hbs'
title: タイトル
description: ディスクリプション
keyword: キーワード
common_header : 2
common_footer : 1
---

<!-- hero -->
<h1 class="hero">
    <span class="hero__main">渋谷 カフェ</span>
    <span class="hero__sub">おすすめ情報</span>
</h1>
<!-- /hero -->



{{!-- 今、話題のお店 --}}
<section>


    <!-- headline -->
    <div class="headline">
        <h2 class="headline__main">今、話題のお店</h2>
        <p class="headline__sub">テレビで紹介された、話題のお店をご紹介。</p>
    </div>
    <!-- /headline -->


    <!-- card -->
    <article class="card">
        <a href="#">
            <div class="card__thumbnail js-lazy" data-original="img/contents_card_no_image.jpg">
                <div class="card__overlay js-overlay">
                    <h3 class="card__shopName -text-overflow">店舗名</h3>
                    <div class="card__info">
                        <p class="-text-overflow">アクセス</p>
                        <p class="-text-overflow">席情報</p>
                    </div>
                </div>
            </div>
            <div class="card__textbox">
                <p class="-text-overflow -bold">番組名</p>
                <p class="-mg2t">放送日時</p>
            </div>
        </a>
    </article>
    <!-- /card -->


    <!-- card -->
    <article class="card">
        <a href="#">
            <div class="card__thumbnail js-lazy" data-original="img/contents_card_no_image.jpg">
                <div class="card__overlay js-overlay">
                    <h3 class="card__shopName -text-overflow">店舗名</h3>
                    <div class="card__info">
                        <p class="-text-overflow">アクセス</p>
                        <p class="-text-overflow">席情報</p>
                    </div>
                </div>
            </div>
            <div class="card__textbox">
                <p class="-text-overflow -bold">番組名</p>
                <p class="-mg2t">放送日時</p>
            </div>
        </a>
    </article>
    <!-- /card -->


    <!-- card -->
    <article class="card">
        <a href="#">
            <div class="card__thumbnail js-lazy" data-original="img/contents_card_no_image.jpg">
                <div class="card__overlay js-overlay">
                    <h3 class="card__shopName -text-overflow">店舗名ああああああああああああああああああああ</h3>
                    <div class="card__info">
                        <p class="-text-overflow">アクセスああああああああああああああああああああああああああああああ</p>
                        <p class="-text-overflow">席数と喫煙ああああああああああああああああああああああああああああああ</p>
                    </div>
                </div>
            </div>
            <div class="card__textbox">
                <p class="-text-overflow -bold">番組名ああああああああああああああああああああああああああああああ</p>
                <p class="-mg2t">放送日時</p>
            </div>
        </a>
    </article>
    <!-- /card -->


    <!-- card -->
    <article class="card">
        <a href="#">
            <div class="card__thumbnail js-lazy" data-original="img/contents_card_no_image.jpg">
                <div class="card__overlay js-overlay">
                    <h3 class="card__shopName -text-overflow">店舗名</h3>
                    <div class="card__info">
                        <p class="-text-overflow">アクセス</p>
                        <p class="-text-overflow">席情報</p>
                    </div>
                </div>
            </div>
            <div class="card__textbox">
                <p class="-text-overflow -bold">番組名</p>
                <p class="-mg2t">放送日時</p>
            </div>
        </a>
    </article>
    <!-- /card -->


</section>
{{!-- /今、話題のお店 --}}



{{!-- 渋谷 カフェ ランキング --}}
<section>


    <!-- headline -->
    <div class="headline">
        <h2 class="headline__main">渋谷 カフェ ランキング</h2>
        <p class="headline__sub">人気急上昇中のトレンドランキング</p>
    </div>
    <!-- /headline -->


    <ol>
        <li>
            <!-- media -->
            <article class="media">
                <a href="#" class="flex">
                    <div class="media__thumbnail js-lazy" data-original="img/contents_media_no_image.jpg">
                        <div class="media__rank rank rank--1">1</div>
                    </div>
                    <div class="media__textbox flex__item">
                        <h3 class="media__headline -text-overflow">店舗名</h3>
                        <div class="media__info">
                            <p class="-text-overflow">アクセス</p>
                            <p class="-text-overflow">席情報</p>
                        </div>
                        <p class="media__pr">PR</p>
                    </div>
                </a>
            </article>
            <!-- /media -->
        </li>
        <li>
            <!-- media -->
            <article class="media">
                <a href="#" class="flex">
                    <div class="media__thumbnail js-lazy" data-original="img/contents_media_no_image.jpg">
                        <div class="media__rank rank rank--2">2</div>
                    </div>
                    <div class="media__textbox flex__item">
                        <h3 class="media__headline -text-overflow">店舗名</h3>
                        <div class="media__info">
                            <p class="-text-overflow">アクセス</p>
                            <p class="-text-overflow">席情報</p>
                        </div>
                        <p class="media__pr">PR</p>
                    </div>
                </a>
            </article>
            <!-- /media -->
        </li>
        <li>
            <!-- media -->
            <article class="media">
                <a href="#" class="flex">
                    <div class="media__thumbnail js-lazy" data-original="img/contents_media_no_image.jpg">
                        <div class="media__rank rank rank--3">3</div>
                    </div>
                    <div class="media__textbox flex__item">
                        <h3 class="media__headline -text-overflow">番組名</h3>
                        <div class="media__info">
                            <p class="-text-overflow">アクセス</p>
                            <p class="-text-overflow">席情報</p>
                        </div>
                        <p class="media__pr">PR</p>
                    </div>
                </a>
            </article>
            <!-- /media -->
        </li>
        <li>
            <!-- media -->
            <article class="media">
                <a href="#" class="flex">
                    <div class="media__thumbnail js-lazy" data-original="img/contents_media_no_image.jpg">
                        <div class="media__rank rank rank--low">4</div>
                    </div>
                    <div class="media__textbox flex__item">
                        <h3 class="media__headline -text-overflow">店舗名あああああああああああああああ</h3>
                        <div class="media__info">
                            <p class="-text-overflow">アクセスああああああああああああああああああああ</p>
                            <p class="-text-overflow">総席数と喫煙ああああああああああああああああああ</p>
                        </div>
                        <p class="media__pr">ああああああああああああああああああああああああああああああああ…</p>
                    </div>
                </a>
            </article>
            <!-- /media -->
        </li>
        <li>
            <!-- media -->
            <article class="media">
                <a href="#" class="flex">
                    <div class="media__thumbnail js-lazy" data-original="img/contents_media_no_image.jpg">
                        <div class="media__rank rank rank--low">5</div>
                    </div>
                    <div class="media__textbox flex__item">
                        <h3 class="media__headline -text-overflow">店舗名</h3>
                        <div class="media__info">
                            <p class="-text-overflow">アクセス</p>
                            <p class="-text-overflow">席情報</p>
                        </div>
                        <p class="media__pr">PR</p>
                    </div>
                </a>
            </article>
            <!-- /media -->
        </li>
    </ol>


</section>
{{!-- /渋谷 カフェ ランキング --}}



{{!-- 最新グルメ情報 --}}
<section>


    <!-- headline -->
    <div class="headline">
        <h2 class="headline__main">最新グルメ情報</h2>
        <p class="headline__sub">グルメキュレーターマガジンから<br>厳選記事をピックアップ</p>
    </div>
    <!-- /headline -->


    <!-- panel -->
    <a href="#" target="_blank">
        <article class="panel js-lazy" data-original="img/contents_card_no_image.jpg">
            <div class="panel__textbox">
                <h3 class="panel__headline">コースで楽しむ絶品スイーツ。道玄坂の皿盛りデザート専門店</h3>
                <p class="panel__date">2015年12月24日</p>
            </div>
        </article>
    </a>
    <!-- /panel -->


    <!-- panel -->
    <a href="#" target="_blank">
        <article class="panel js-lazy" data-original="img/contents_card_no_image.jpg">
            <div class="panel__textbox">
                <h3 class="panel__headline">こだわりのドリップ珈琲と絶品自家製ケーキで甘美なひとときを</h3>
                <p class="panel__date">2015年12月22日</p>
            </div>
        </article>
    </a>
    <!-- /panel -->


</section>
{{!-- /最新グルメ情報 --}}



{{!-- 人気キーワード --}}
<section>


    <!-- headline -->
    <div class="headline headline--keyword">
        <h2 class="headline__main">人気キーワード</h2>
    </div>
    <!-- /headline -->


    <!-- searchBox -->
    <div class="searchBox flex">
        <p class="searchBox__area ic-search-contents">渋谷 カフェ</p>
        <p class="searchBox__keyword ic-batu-contents"><a href="#">個室あり</a></p>
    </div>
    <!-- /searchBox -->


    <div class="flex">


        <!-- card-2col -->
        <a href="#" class="card-2col flex__item">
            <article>
                    <div class="card-2col__thumbnail js-lazy" data-original="img/contents_card-2col_no_image.jpg"></div>
                    <div class="card-2col__textbox">
                        <h3 class="card-2col__shopName">店舗名</h3>
                        <p class="card-2col__access">アクセス</p>
                    </div>
            </article>
        </a>
        <!-- /card-2col -->


        <!-- card-2col -->
        <a href="#" class="card-2col flex__item">
            <article>
                <div class="card-2col__thumbnail js-lazy" data-original="img/contents_card-2col_no_image.jpg"></div>
                <div class="card-2col__textbox">
                    <h3 class="card-2col__shopName">店舗名</h3>
                    <p class="card-2col__access">アクセス</p>
                </div>
            </article>
        </a>
        <!-- /card-2col -->


    </div>


    <!-- searchBox -->
    <div class="searchBox flex">
        <p class="searchBox__area ic-search-contents">渋谷 カフェ</p>
        <p class="searchBox__keyword ic-batu-contents"><a href="#">ランチ</a></p>
    </div>
    <!-- /searchBox -->


    <div class="flex">


        <!-- card-2col -->
        <a href="#" class="card-2col flex__item">
            <article>
                <div class="card-2col__thumbnail js-lazy" data-original="img/contents_card-2col_no_image.jpg"></div>
                <div class="card-2col__textbox">
                    <h3 class="card-2col__shopName">店舗名あああああああああ</h3>
                    <p class="card-2col__access">アクセスああああああああああ</p>
                </div>
            </article>
        </a>
        <!-- /card-2col -->


        <!-- card-2col -->
        <a href="#" class="card-2col flex__item">
            <article>
                <div class="card-2col__thumbnail js-lazy" data-original="img/contents_card-2col_no_image.jpg"></div>
                <div class="card-2col__textbox">
                    <h3 class="card-2col__shopName">店舗名</h3>
                    <p class="card-2col__access">アクセス</p>
                </div>
            </article>
        </a>
        <!-- /card-2col -->


    </div>


    <!-- popularTerm -->
    <ul class="popularTerm">
        <li class="popularTerm__item"><a href="#">個室あり</a></li>
        <li class="popularTerm__item"><a href="#">ソファー席</a></li>
        <li class="popularTerm__item"><a href="#">テラス・屋外席</a></li>
        <li class="popularTerm__item"><a href="#">デートに使える</a></li>
        <li class="popularTerm__item"><a href="#">お一人様歓迎</a></li>
        <li class="popularTerm__item"><a href="#">喫煙可</a></li>
        <li class="popularTerm__item"><a href="#">店内全面禁煙</a></li>
    </ul>
    <!-- /popularTerm -->


</section>
{{!-- /人気キーワード --}}



{{!-- 厳選カフェ --}}
<section>


    <!-- headline -->
    <div class="headline">
        <h2 class="headline__main">厳選カフェ</h2>
        <p class="headline__sub">ソーシャル検索数から話題になっているお店</p>
    </div>
    <!-- /headline -->


    <!-- card -->
    <article class="card">
        <a href="#">
            <div class="card__thumbnail js-lazy" data-original="img/contents_card-2col_no_image.jpg">
                <div class="card__overlay js-overlay">
                    <h3 class="card__shopName -text-overflow">店舗名</h3>
                    <div class="card__info">
                        <p class="-text-overflow">アクセス</p>
                        <p class="-text-overflow">席情報</p>
                    </div>
                </div>
            </div>
            <div class="card__textbox">
                <p class="-bold -clr-light-black">パティシエの本格特選スイーツ</p>
                <p class="-mg2t">経験豊富なパティシエによる本格的なデザートの数々。カフェの領域を遥かに超えた質をご提供いたします。</p>
            </div>
        </a>
    </article>
    <!-- /card -->


    <!-- card -->
    <article class="card">
        <a href="#">
            <div class="card__thumbnail js-lazy" data-original="img/contents_card-2col_no_image.jpg">
                <div class="card__overlay js-overlay">
                    <h3 class="card__shopName -text-overflow">店舗名</h3>
                    <div class="card__info">
                        <p class="-text-overflow">アクセス</p>
                        <p class="-text-overflow">席情報</p>
                    </div>
                </div>
            </div>
            <div class="card__textbox">
                <p class="-bold -clr-light-black">カフェタイム限定パンケーキ</p>
                <p class="-mg2t">カフェタイム限定のパンケーキが大好評。名物ティラミスパンケーキ等。</p>
            </div>
        </a>
    </article>
    <!-- /card -->


    <!-- media -->
    <article class="media media--space">
        <a href="#" class="flex">
            <div class="media__thumbnail media__thumbnail--small js-lazy" data-original="img/contents_media_no_image.jpg"></div>
            <div class="media__textbox flex__item">
                <h3 class="media__headline -text-overflow">店舗名</h3>
                <div class="media__info">
                    <p class="-text-overflow">アクセス</p>
                </div>
                <p class="media__pr">PR</p>
            </div>
        </a>
    </article>
    <!-- /media -->


    <!-- media -->
    <article class="media media--space">
        <a href="#" class="flex">
            <div class="media__thumbnail media__thumbnail--small js-lazy" data-original="img/contents_media_no_image.jpg"></div>
            <div class="media__textbox flex__item">
                <h3 class="media__headline -text-overflow">店舗名あああああああああああああああ</h3>
                <div class="media__info">
                    <p class="-text-overflow">アクセスああああああああああああああああああああ</p>
                </div>
                <p class="media__pr">ああああああああああああああああああああああああああああああああ…</p>
            </div>
        </a>
    </article>
    <!-- /media -->


</section>
{{!-- /厳選カフェ --}}



{{!-- 場所からお店を探す --}}
<section>


    <!-- headline -->
    <div class="headline">
        <h2 class="headline__main">場所からお店を探す</h2>
    </div>
    <!-- /headline -->


    <!-- searchList -->
    <ul class="searchList">
        <li>
            <p class="searchList__item searchList__item--arrow ic-station-contents js-searchTerm">駅</p>
            <ul class="js-searchList__group js-hidden">
                <li><a href="#" class="searchList__item">渋谷駅</a></li>
                <li><a href="#" class="searchList__item">神泉駅</a></li>
            </ul>
        </li>
        <li>
            <p class="searchList__item searchList__item--arrow ic-spot-contents js-searchTerm">スポット</p>
            <ul class="js-searchList__group js-hidden">
                <li><a href="#" class="searchList__item">渋谷・東急百貨店</a></li>
                <li><a href="#" class="searchList__item">Shibuya Hikarie（渋谷ヒカリエ）</a></li>
                <li><a href="#" class="searchList__item">渋谷liARCO</a></li>
                <li><a href="#" class="searchList__item">ユーロスペース</a></li>
                <li><a href="#" class="searchList__item">ヒューマントラストシネマ渋谷</a></li>
            </ul>
        </li>
        <li>
            <p class="searchList__item searchList__item--arrow ic-area-contents js-searchTerm">エリア</p>
            <ul class="js-searchList__group js-hidden">
                <li><a href="#" class="searchList__item">センター街・公園通り</a></li>
                <li><a href="#" class="searchList__item">道玄坂・神泉</a></li>
                <li><a href="#" class="searchList__item">渋谷東口・宮益坂</a></li>
            </ul>
        </li>
        <li>
            <p><a href="#" class="searchList__item -center">地図から探す</a></p>
        </li>
    </ul>
    <!-- /searchList -->


</section>
{{!-- /場所からお店を探す --}}



{{!-- ジャンルからから探す --}}
<section>


    <!-- headline -->
    <div class="headline">
        <h2 class="headline__main">ジャンルから探す</h2>
    </div>
    <!-- /headline -->


    <!-- searchList -->
    <ul class="searchList">
        <li>
            <p class="searchList__item searchList__item--arrow ic-shop-contents js-searchTerm">お店</p>
            <ul class="js-searchList__group js-hidden">
                <li><a href="#" class="searchList__item">喫茶店</a></li>
                <li><a href="#" class="searchList__item">ケーキ屋</a></li>
                <li><a href="#" class="searchList__item">ドッグカフェ</a></li>
                <li><a href="#" class="searchList__item">サンドイッチ・パン屋</a></li>
            </ul>
        </li>
        <li>
            <p class="searchList__item searchList__item--arrow ic-menu-contents js-searchTerm">メニュー</p>
            <ul class="js-searchList__group js-hidden">
                <li><a href="#" class="searchList__item">コーヒー</a></li>
                <li><a href="#" class="searchList__item">スイーツ</a></li>
                <li><a href="#" class="searchList__item">デザート</a></li>
                <li><a href="#" class="searchList__item">和菓子</a></li>
                <li><a href="#" class="searchList__item">洋菓子</a></li>
                <li><a href="#" class="searchList__item">チョコレート</a></li>
                <li><a href="#" class="searchList__item">パンケーキ</a></li>
                <li><a href="#" class="searchList__item">パフェ</a></li>
                <li><a href="#" class="searchList__item">クレープ</a></li>
            </ul>
        </li>
    </ul>
    <!-- /searchList -->


</section>
{{!-- /ジャンルからから探す --}}


<!-- normalPageLink -->
<a href="#" class="normalPageLink">
    <p class="normalPageLink__main">渋谷 カフェ</p>
    <p class="normalPageLink__sub">全244件のお店を見る</p>
</a>
<!-- /normalPageLink -->
