/* #global_var */
@charset "utf-8";

/*
## border color

<div style="margin:20px;">
    $border-default
    <div style="width:50px;height:50px;background-color:#e7decc"></div>
</div>

*/
$border-default: #e7decc;

/*
## text color

<div style="margin:20px">
    $color-strong
    <div style="width:50px;height:50px;background-color:#403b36"></div>
    $color-light
    <div style="width:50px;height:50px;background-color:#666"></div>
    $color-link
    <div style="width:50px;height:50px;background-color:#0f5d90"></div>
    $color-ad
    <div style="width:50px;height:50px;background-color:#689f38"></div>
</div>

###…
*/
$color-strong: #403b36;

$color-light: #666;

$color-super-light: #999;

$color-ultra-light: #aaa;

$color-default: #444;

$color-link: #0f5d90;

$color-attention: #cc0000;

$color-disable: #d1cec8;

$color-major: #797877;

$color-ad: #689f38;

$color-checklist: #403b36;

$color-light-black: #403b36;
