{{# prettify }}
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>{{title}}</title>
<meta name="description" content="{{description}}">
<meta name="keyword" content="{{keyword}}">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="css/all.css">
</head>
<body>

<!-- #page -->
<div id="page">
<!-- ヘッダー -->
{{> header}}
<!-- /ヘッダー -->

{{#prettify}}
{{> body}}
{{/prettify}}

<!-- フッター -->
{{> footer}}
<!-- /フッター -->
</div>
<!-- /#page -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="js/all.js"></script>

</body>
</html>
{{/ prettify }}
