@charset "utf-8";

/*doc
---
title: このスタイルシートについて
name: 0-button-outline
category: button
---

このスタイルシートでは、ボタンのスタイルを指定しています。

*/



/*doc
---
title: デフォルトのボタン
name: 1-button-default
category: button
---

デフォルトのボタンのスタイルです。

class 属性に ```.button``` とつけると、ボタンになります。

```example
<article class="card">
    <a href="#">
        <div class="card__thumbnail js-lazy" data-original="//uds.gnst.jp/rest/fs_img/k15awxgx0000/s_1001.jpg">
            <div class="card__overlay js-overlay">
                <h3 class="card__shopName -text-overflow">TOMBOY 渋谷道玄坂店</h3>
                <div class="card__info">
                    <p class="-text-overflow">JR渋谷駅東口 徒歩7分</p>
                    <p class="-text-overflow">120席 店内全面禁煙</p>
                </div>
            </div>
        </div>
        <div class="card__textbox">
            <p class="-text-overflow -bold">フジテレビ めざましテレビ</p>
            <p class="-mg2t">2015年12月24日(木) 5時25分</p>
        </div>
    </a>
</article>
```

*/

.card {
    margin-bottom: 8px;
    border-bottom: solid 1px #e0e0e0;
    &:last-child {
        margin-bottom: 0px;
    }
    &__thumbnail {
        background: {
            size: cover;
            position: center;
        }
        height: 176px;
        color: #fff;
    }
    &__overlay {
        height: 100%;
        padding: 0 16px;
    }
    &__shopName {
        padding-top: 25px;
        font-size: 21px;
        line-height: 1.3;
    }
    &__info {
        margin-top: 11px;
        font-size: 11px;
        line-height: 1.4;
    }
    &__textbox {
        padding: 17px 16px 21px;
        background-color: #fff;
        font-size: 13px;
        color: #757575;
        line-height: 1.5;
    }
}

 // _card-2col.scss *
.card-2col {
    width: 100%;
    background-color: #5d4037;
    margin-bottom: 16px;
    display: block;
    &:first-child {
        margin-right: 2px;
    }
    &:last-child {
        margin-right: 0;
    }
    &__thumbnail {
        background: {
            size: cover;
            position: center;
        }
        height: 158px;
    }
    &__textbox {
        padding: 9px 16px 10px;
        color: #fff;
    }
    &__shopName {
        font-size: 13px;
        line-height: 1.5;
        font-weight: bold;
    }
    &__access {
        font-size: 11px;
        line-height: 1.4;
        margin-top: 3px;
        opacity: .7;
    }
}

.js-card__overlay {
    background: -moz-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(255,255,255,0.3) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(255,255,255,0.3) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(255,255,255,0.3) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
