@charset "utf-8";

.headline {
    text-align: center;
    border-bottom: solid 1px #dcdcdc;
    padding: 40px 0 26px;
    &--keyword {
        margin: 0 16px;
    }
    &__main {
        font-size: 15px;
        font-weight: bold;
        color: #757575;
    }
    &__sub {
        font-size: 11px;
        color: #9e9e9e;
        margin-top: 6px;
        line-height: 1.4;
        a {
            text-decoration: underline;
        }
    }
}
