@charset "utf-8";

.hero {
    background: {
        size: cover;
        position: center;
        image: url(../img/contents_hero.jpg);
    }
    padding: 26px 16px;
    color: #fff;
    &__main {
        display: block;
        font-size: 21px;
        font-weight: bold;
    }
    &__sub {
        display: block;
        font-size: 13px;
        opacity: .7;
        margin-top: 8px;
    }
}
