/*
# media


## media
```
<article class="media">
    <a href="#" class="flex">
        <div class="media__thumbnail" style="background-image: url(../dist/img/contents_media_no_image.jpg)">
            <div class="media__rank rank rank--1">1</div>
        </div>
        <div class="media__textbox flex__item">
            <h3 class="media__headline -text-overflow">店舗名</h3>
            <div class="media__info">
                <p class="-text-overflow">アクセス</p>
                <p class="-text-overflow">席情報</p>
            </div>
            <p class="media__pr">PR文</p>
        </div>
    </a>
</article>
<article class="media">
    <a href="#" class="flex">
        <div class="media__thumbnail" style="background-image: url(../dist/img/contents_media_no_image.jpg)">
            <div class="media__rank rank rank--1">2</div>
        </div>
        <div class="media__textbox flex__item">
            <h3 class="media__headline -text-overflow">店舗名</h3>
            <div class="media__info">
                <p class="-text-overflow">アクセス</p>
                <p class="-text-overflow">席情報</p>
            </div>
            <p class="media__pr">PR文</p>
        </div>
    </a>
</article>
```

## media--space
```
<article class="media media--space">
    <a href="#" class="flex">
        <div class="media__thumbnail media__thumbnail--small" style="background-image: url(../dist/img/contents_media_no_image.jpg)"></div>
        <div class="media__textbox flex__item">
            <h3 class="media__headline -text-overflow">店舗名</h3>
            <div class="media__info">
                <p class="-text-overflow">アクセス</p>
            </div>
            <p class="media__pr">PR文</p>
        </div>
    </a>
</article>
<article class="media media--space">
    <a href="#" class="flex">
        <div class="media__thumbnail media__thumbnail--small" style="background-image: url(../dist/img/contents_media_no_image.jpg)"></div>
        <div class="media__textbox flex__item">
            <h3 class="media__headline -text-overflow">店舗名</h3>
            <div class="media__info">
                <p class="-text-overflow">アクセス</p>
            </div>
            <p class="media__pr">PR文</p>
        </div>
    </a>
</article>
```
*/

@charset "utf-8";

.media {
    background-color: #fff;
    &--space {
        margin-top: 8px;
        border-top: solid 1px #e0e0e0;
    }
    &__thumbnail {
        width: 88px;
        height: 120px;
        background: {
            size: cover;
            position: center;
        }
        position: relative;
        &--small {
          height: 105px;
        }
    }
    &__rank {
        position: absolute;
        top: 12px;
        left: 8px;
    }
    &__textbox {
        padding: 14px 16px 16px;
        border-bottom: solid 1px #e0e0e0;
    }
    &__headline {
        color: #212121;
        font-weight: bold;
        font-size: 15px;
        line-height: 1.3;
    }
    &__info {
        font-size: 11px;
        color: #757575;
        line-height: 1.4;
        margin-top: 4px;
    }
    &__pr {
        color: #212121;
        font-size: 11px;
        line-height: 1.4;
        margin-top: 4px;
    }
}
