@charset "utf-8";

.mg0a {margin:  0px;}
.mg4a {margin:  4px;}
.mg5a {margin:  5px;}
.mg7a {margin:  5px;}
.mg8a {margin:  8px;}
.mg10a {margin:  10px;}
.mg15a {margin:  15px;}
.mg16a {margin:  16px;}
.mg20a {margin:  20px;}
.mg25a {margin:  25px;}

.mg0t {margin-top:  0px;}
.mg2t {margin-top: 2px;}
.mg4t {margin-top:  4px;}
.mg5t {margin-top:  5px;}
.mg7t {margin-top:  7px;}
.mg8t {margin-top:  8px;}
.mg10t {margin-top:  10px;}
.mg15t {margin-top:  15px;}
.mg16t {margin-top:  16px;}
.mg20t {margin-top:  20px;}
.mg25t {margin-top:  25px;}
.mg30t {margin-top:  30px;}
.mg35t {margin-top:  35px;}

.mg0b {margin-bottom:  0px;}
.mg4b {margin-bottom:  4px;}
.mg5b {margin-bottom:  5px;}
.mg7b {margin-bottom:  7px;}
.mg8b {margin-bottom:  8px;}
.mg10b {margin-bottom:  10px;}
.mg15b {margin-bottom:  15px;}
.mg16b {margin-bottom:  16px;}
.mg20b {margin-bottom:  20px;}
.mg25b {margin-bottom:  25px;}
.mg30b {margin-bottom:  30px;}
.mg35b {margin-bottom:  35px;}

.mg0r {margin-right:  0px;}
.mg4r {margin-right:  4px;}
.mg5r {margin-right:  5px;}
.mg7r {margin-right:  7px;}
.mg8r {margin-right:  8px;}
.mg10r {margin-right:  10px;}
.mg15r {margin-right:  15px;}
.mg16r {margin-right:  16px;}
.mg20r {margin-right:  20px;}
.mg25r {margin-right:  25px;}
.mg30r {margin-right:  30px;}
.mg35r {margin-right:  35px;}

.mg0l {margin-left:  0px;}
.mg4l {margin-left:  4px;}
.mg5l {margin-left:  5px;}
.mg7l {margin-left:  7px;}
.mg8l {margin-left:  8px;}
.mg10l {margin-left:  10px;}
.mg15l {margin-left:  15px;}
.mg16l {margin-left:  16px;}
.mg20l {margin-left:  20px;}
.mg25l {margin-left:  25px;}
.mg30l {margin-left:  30px;}
.mg35l {margin-left:  35px;}

.mg4lr {margin-left:  4px; margin-right:  4px;}
.mg7lr {margin-left:  7px; margin-right:  7px;}
.mg8lr {margin-left:  8px; margin-right:  8px;}
.mg10lr {margin-left:  10px; margin-right: 1 0px;}

.mg4tb {margin-top:  4px; margin-bottom:  4px;}
.mg7tb {margin-top:  7px; margin-bottom:  7px;}
.mg8tb {margin-top:  8px; margin-bottom:  8px;}
.mg10tb {margin-top:  10px; margin-bottom:  10px;}
.mg16tb {margin-top:  16px; margin-bottom:  16px;}



.pd0a {padding: 0px;}
.pd4a {padding: 4px;}
.pd5a {padding: 5px;}
.pd7a {padding: 5px;}
.pd8a {padding: 8px;}
.pd10a {padding: 10px;}
.pd15a {padding: 15px;}
.pd16a {padding: 16px;}
.pd20a {padding: 20px;}
.pd25a {padding: 25px;}
.pd0t {padding-top: 0px;}
.pd4t {padding-top: 4px;}
.pd5t {padding-top: 5px;}
.pd7t {padding-top: 7px;}
.pd8t {padding-top: 8px;}
.pd10t {padding-top: 10px;}
.pd15t {padding-top: 15px;}
.pd16t {padding-top: 16px;}
.pd20t {padding-top: 20px;}
.pd25t {padding-top: 25px;}
.pd30t {padding-top: 30px;}
.pd35t {padding-top: 35px;}
.pd0b {padding-bottom: 0px;}
.pd4b {padding-bottom: 4px;}
.pd5b {padding-bottom: 5px;}
.pd7b {padding-bottom: 7px;}
.pd8b {padding-bottom: 8px;}
.pd10b {padding-bottom: 10px;}
.pd15b {padding-bottom: 15px;}
.pd16b {padding-bottom: 16px;}
.pd20b {padding-bottom: 20px;}
.pd25b {padding-bottom: 25px;}
.pd30b {padding-bottom: 30px;}
.pd35b {padding-bottom: 35px;}
.pd0r {padding-right: 0px;}
.pd4r {padding-right: 4px;}
.pd5r {padding-right: 5px;}
.pd7r {padding-right: 7px;}
.pd8r {padding-right: 8px;}
.pd10r {padding-right: 10px;}
.pd15r {padding-right: 15px;}
.pd16r {padding-right: 16px;}
.pd20r {padding-right: 20px;}
.pd25r {padding-right: 25px;}
.pd30r {padding-right: 30px;}
.pd35r {padding-right: 35px;}
.pd0l {padding-left: 0px;}
.pd4l {padding-left: 4px;}
.pd5l {padding-left: 5px;}
.pd7l {padding-left: 7px;}
.pd8l {padding-left: 8px;}
.pd10l {padding-left: 10px;}
.pd15l {padding-left: 15px;}
.pd16l {padding-left: 16px;}
.pd20l {padding-left: 20px;}
.pd25l {padding-left: 25px;}
.pd30l {padding-left: 30px;}
.pd35l {padding-left: 35px;}
.pd4lr {padding-left: 4px; padding-right: 4px;}
.pd7lr {padding-left: 7px; padding-right: 7px;}
.pd8lr {padding-left: 8px; padding-right: 8px;}
.pd10lr {padding-left: 10px; padding-right: 10px;}
.pd4tb {padding-top: 4px; padding-bottom: 4px;}
.pd7tb {padding-top: 7px; padding-bottom: 7px;}
.pd8tb {padding-top: 8px; padding-bottom: 8px;}
.pd10tb {padding-top: 10px; padding-bottom: 10px;}
.pd16tb {padding-top: 16px; padding-bottom: 16px;}



.txtR {text-align: right !important;;}
.txtL {text-align: left !important;;}
.txtC {text-align: center !important;;}

.fltR {float: right !important;;}
.fltL {float: left !important;;}

.vAlignt {vertical-align: top !important;}
.vAlignm {vertical-align: middle !important;}
.vAlignb {vertical-align: bottom !important;}


.bdtn {border-top: none !important;}
.bdbn {border-bottom: none !important;}
.bdln {border-left: none !important;}
.bdrn {border-right: none !important;}
.bdn {border: none !important;}

.bdt-s {border-top: solid 1px #ccc !important;}
.bdb-s {border-bottom: solid 1px #ccc !important;}

.bdt-d {border-top: dotted 1px #ccc !important;}
.bdb-d {border-bottom: dotted 1px #ccc !important;}

.bdrS {border-radius: 2px !important;;}
.bdrM {border-radius: 3px !important;;}
.bdrL {border-radius: 5px !important;;}


.clearBoth {clear: both !important;}
.nowrap {white-space: nowrap !important;}

.uLine {text-decoration: underline !important;}
.inlineblock {display: inline-block !important;}

.js-hidden {display: none !important;}
.js-visible {display: block !important;}
.js-disable {visibility: hidden !important;}
.js-opacity {opacity: 1 !important;}
.js-opacity-none {opacity: 0 !important;}


.js-move-stay {
	opacity: 1;
	-webkit-transform: translate3d(0px, 0px, 0px);
	-webkit-transition: all 0.2s ease-out;
}
.js-move-left {
	opacity: 0;
	-webkit-transform: translate3d(-100%, 0px, 0px);
	-webkit-transition: all 0.2s ease-out;
}
.js-move-right {
	opacity: 0;
	-webkit-transform: translate3d(100%, 0px, 0px);
	-webkit-transition: all 0.2s ease-out;
}

.wrap {
}
.wrap_bg_w {
	background-color: #fff;
}
.wrap_bg_g {
	background-color: #e9e6e2;
}
.normalBox {
	background-color: #fff;
}


.b {font-weight: bold !important;}
.n-b {font-weight: normal !important;}


.fontUS {
	font-size: 8px;
}
.fontSS {
	font-size: $font_ss;
}
.fontS {
	font-size: $font_s;
}
.fontSM {
	font-size: $font_sm;
}
.fontM {
	font-size: $font_m;
}
.fontL {
	font-size: $font_l;
}
.fontLL {
	font-size: $font_ll;
}

.clrL {color: $text_color_l;}
.clrM {color: $text_color_m;}
.clrS {color: $text_color_s;}
.clrI {color: $text_color_alert;}
.clrR {color: $text_color_red;}
.clrW {color: $text_color_white;}
.clrO {color: $text_color_orange;}
.clrG {color: $text_color_gold;}
.clrCheck {color:$text_color_checklist !important;}


// _multiple.scss
.clrLightBlack {
    color: #212121;
}
