.rank {
    border-radius: 12px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.26);
    background-color: #fff;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    font: {
        size: 13px;
        weight: bold;
    }
    &--1 {
        color: #e53935;
    }
    &--2 {
        color: #e57373;
    }
    &--3 {
        color: #ef9a9a;
    }
    &--low {
        color: #9e9e9e;
    }
}
