@charset "utf-8";

/* support browser */
$experimental-support-for-webkit : true;
$experimental-support-for-mozilla : false;
$experimental-support-for-opera : false;
$experimental-support-for-microsoft : false;
$experimental-support-for-khtml : false;

/* font family */
$font_family: HelveticaNeue,sans-serif;


/* font size */
$font_ss : 10px;
$font_s : 12px;
$font_sm : 13px;
$font_m : 14px;
$font_l : 16px;
$font_ll : 18px;


/* text color */
$text_color_s : #777;
$text_color_m : #444;
$text_color_l : #121212;
$text_color_white : #fff;
$text_color_orange : #ff9225;
$text_color_gold : #a67f4e;
$text_color_red : #ea4036;
$text_color_link : #1075bf;
$text_color_alert : #ff0000;
$text_color_checklist:#fa4d01;


/* common setting */
body {
	background-color: #fff;
	font: inherit;
	font-family: $font_family;
	word-break: break-all;
	word-wrap: break-word;
	-webkit-text-size-adjust: none;
	font-size: 14px;
	line-height: 1.45;
	color: $text_color_m;
	//text-align: justify;
	//text-justify: inter-ideograph;
}

a {
	text-decoration: none;
	color: $text_color_link;
}

img {
	vertical-align: bottom;
}

#page {
	position: relative;
	background: #faf8f5;
}

input {
		&[type="text"],&[type="number"],&[type="email"],&[type="password"],&[type="tel"],&[type="search"],&[type="url"] {
			font-size: $font_m;
			line-height: 20px;
			margin:0;
			padding:0.38em 0.2em;
			box-sizing: border-box;
			font-weight:normal !important;
		}
		&[type="radio"] {
			-webkit-appearance: none;
			border:none;
			margin:0 3px 0 0;
			padding:0;
			&:checked {
				background-color:transparent !important;
			}
		}
		&[type="checkbox"] {
			-webkit-appearance: none;
			border:none;
			margin:0 3px 0 0;
			padding:0;
			&:checked {
				background-color:transparent !important;
			}
		}
}
textarea,select {
	font-size: $font_m;
	line-height: 20px;
	margin:0;
	padding:0.38em 0.2em;
	box-sizing: border-box;
	font-weight:normal !important;
}
