.styleguide-header {
    width: 100%;
    background-color: #eee;
    text-align: center;
    padding: 48px 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 3em;
}

.styleguide-header h1 {
    font-size: 40px;
}

.styleguide-contents {
    max-width: 960px;
    margin: 0 auto;
}

.styleguide-subTitle {
    font-size: 35px;
}

.sg-section {
    max-width: 960px;
    margin: 0 auto;
}

.sg-example {
    width: 60%;
    margin: 0 auto;
}

code.sg {
    background: rgba(0, 100, 250, 0.1);
}
