{{#is common_header 1 ~}}
<div id="gnHeader">
<div id="gnHeaderContainer" class="gnColor">
<div id="gnHeaderInner">
<div id="gnHeaderLogo"><a href="http://mobile.gnavi.co.jp/iphone/"><p>ぐるなび</p></a></div>
</div>
</div>
</div>
{{/is ~}}
{{#is common_header 2 ~}}
<div id="gnHeader">
<div id="gnHeaderContainer" class="gnColor">
<div id="gnHeaderInner">
<div id="gnHeaderLogo"><a href="http://mobile.gnavi.co.jp/iphone/"><p>ぐるなび</p></a></div>
<nav>
<ul>
<li id="gnHeaderNewsBtn" class="gnBtn"><span id="gnNoticeNews"></span><a href="http://mobile.gnavi.co.jp/iphone/gnrl/gt-news/"><p id="gnNewsCountNum">…</p></a></li>
<li id="gnHeaderSearchBtn" class="gnBtn"><p>検索</p></li><li id="gnHeaderUserBtn" class="gnBtn"><a href="https://my.gnavi.co.jp/s/login/?cType=GEasyB&rType=2&regCnt=chd01&sc_cid=head_unlogin_log"><p>ログイン</p></a></li>
</ul>
</nav>
</div>
</div>
<aside id="gnHeaderSearch"></aside><aside id="gnHeaderUser"></aside>
<form name="headform" id="headform"><input type="hidden" name="head" value="head_unlogin" /></form>
</div>
{{/is ~}}