{{#is common_footer 1 ~}}
<div id="gnFooter">
<div id="gnFooterInner">
<div id="gnFooterCopyRight"><p><a href="http://mobile.gnavi.co.jp/iphone/">ぐるなび</a><span>© Gurunavi, Inc.</span></p></div>
</div>
</div>
{{/is ~}}
{{#is common_footer 2 ~}}
<div id="gnFooter">
<div id="gnFooterInner">
<div id="gnFooterCopyRight"><p><a href="http://mobile.gnavi.co.jp/iphone/">ぐるなび</a><span>© Gurunavi, Inc.</span></p></div>
<div id="gnFooterChangeDevice"><p><a href="http://r.gnavi.co.jp/g293450/" id="gotoPc">PC版</a></p></div>
</div>
</div>
{{/is ~}}